<head>
    <meta charset='utf-8'>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous'>
    <link href='/assets/css/highlight.css' rel='stylesheet' type='text/css'>
    <link href='/assets/css/override.css' rel='stylesheet' type='text/css'>

    <script nomodule>
        console.info(`Your browser doesn't support native JavaScript modules. Things might go funky.`);
    </script>

    {%- if site.title -%}
        {%- if page.title != site.title and page.title != nil -%}
            <title>{{ page.title }} | {{ site.title }}</title>
        {%- else -%}
            <title>{{ site.title }}</title>
        {%- endif -%}
    {%- endif -%}
</head>